* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #df5d07 0%, #f17d2f 100%);
}

    .hide {
        display: none;
    }

    .container {
        position: relative;
        background-color: #bb540f;
        box-shadow: #000;
        padding: 2rem;
        color: #fff;
        border-radius: 1rem;
        overflow: hidden;
    }

    .search-box {
        width: 100%;
        height: min-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .search-box input {
        width: 80%;
        padding: 0.8rem;
        font-size: 22px;
        text-transform: uppercase;
        padding-left: 32px;
        border: none;
        flex: 1;
        border-radius: 4px;
    }
    
    .search-box input::placeholder {
        font-size: 20px;
        font-weight: 500;
        color: #000;
        text-transform: capitalize;
    }
    
    .search-box button {
        padding: 0.8rem;
        min-width: 50px;
        margin-left: 8px;
        background-color: #f89655d5;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .search-box button:hover {
        color: #f8863a;
        background: #854d27;
    }
    
    .search-box i {
        position: absolute;
        color: #000;
        font-size: 27px;
    }

    .weather.box {
        text-align: center;
    }

    .weather.box img {
        width: 60%;
        margin-top: 30px;
    }

    .weather.box .temperature {
        position: relative;
        color: #fff;
        font-size: 4rem;
        font-weight: 800;
        margin-top: 30px;
        margin-left: -16px;
    }

    .weather.box .temperature span {
        position: absolute;
        margin-left: 4px;
        font-size: 1.5rem;
    }

    .weather.box .description {
        color: #fff;
        font-size: 22px;
        font-weight: 500;
        text-transform: capitalize;
    }

    .weather-details {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
    
    .weather-details .humidity, .weather-details .wind {
        display: flex;
        align-items: center;
        width: 50%;
        height: 100px;
    }
    
    .weather-details .humidity {
        padding-left: 20px;
        justify-content: flex-start;
    }
    
    .weather-details .wind { 
        padding-right: 20px;
        justify-content: flex-end;
    }
    
    .weather-details i {
        color: #ffffff;
        font-size: 26px;
        margin-right: 10px;
        margin-top: 6px;
    }
    
    .weather-details span {
        color: #ffffff;
        font-size: 22px;
        font-weight: 500;
    }
    
    .weather-details p {
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
    }

    .not-found {
        width: 100%;
        text-align: center;
        margin-top: 50px;
        scale: 0;
        opacity: 0;
        display: none;
    }

.not-found img {
    width: 70%;
    text-align: center;
    margin-top: 20px;
}